<a href="https://colab.research.google.com/github/budhathoki10/Concept_and_Technology_of_AI/blob/master/worksheet2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

Problem 1 - Data Read, Write and Inspect:
â€¢ Dataset for the Task: "bank.csv"

In [18]:
#1. Load the provided dataset and import in pandas DataFrame.
df=pd.read_csv("/content/drive/MyDrive/bank.csv")

#2. Check info of the DataFrame and identify following:
# df.head()
# df.tail()
# df.info()

#a
print("Columns with dtype = object:")
object_cols = df.select_dtypes(include='object').columns
print(object_cols)

#b
for col in object_cols:
    print(f" \n unique in column {col}: ")
    print(df[col].unique())


#c
total_val= df.isnull().sum();
print(total_val)

#3
drop_column= df.drop(columns=object_cols)
drop_column.to_csv("banknumericdata.csv",index=True)
print("sucessfully written")


#4
new_csv= pd.read_csv("/content/banknumericdata.csv")
print(new_csv.describe())

Columns with dtype = object:
Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'poutcome', 'y'],
      dtype='object')

 unique in column job:
['management' 'technician' 'entrepreneur' 'blue-collar' 'unknown'
 'retired' 'admin.' 'services' 'self-employed' 'unemployed' 'housemaid'
 'student']

 unique in column marital:
['married' 'single' 'divorced']

 unique in column education:
['tertiary' 'secondary' 'unknown' 'primary']

 unique in column default:
['no' 'yes']

 unique in column housing:
['yes' 'no']

 unique in column loan:
['no' 'yes']

 unique in column contact:
['unknown' 'cellular' 'telephone']

 unique in column month:
['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'jan' 'feb' 'mar' 'apr' 'sep']

 unique in column poutcome:
['unknown' 'failure' 'other' 'success']

 unique in column y:
['no' 'yes']
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64
sucessfully written
         Unnamed: 0           age        balance           day      duration  \
count  45211.000000  45211.000000   45211.000000  45211.000000  45211.000000
mean   22605.000000     40.936210    1362.272058     15.806419    258.163080
std    13051.435847     10.618762    3044.765829      8.322476    257.527812
min        0.000000     18.000000   -8019.000000      1.000000      0.000000
25%    11302.500000     33.000000      72.000000      8.000000    103.000000
50%    22605.000000     39.000000     448.000000     16.000000    180.000000
75%    33907.500000     48.000000    1428.000000     21.000000    319.000000
max    45210.000000     95.000000  102127.000000     31.000000   4918.000000

           campaign         pdays      previous
count  45211.000000  45211.000000  45211.000000
mean       2.763841     40.197828      0.580323
std        3.098021    100.128746      2.303441
min        1.000000     -1.000000      0.000000
25%        1.000000     -1.000000      0.000000
50%        2.000000     -1.000000      0.000000
75%        3.000000     -1.000000      0.000000
max       63.000000    871.000000    275.000000

Problem 2 - Data Imputations:

In [40]:
df1= pd.read_csv("/content/drive/MyDrive/medical_students_dataset.csv")
# df1.head()
# df1.tail()
# df1.info()
#1. Load the provided dataset and import in pandas DataFrame.
dataset=pd.DataFrame(df1)
# dataset.head()

#2. Check info of the DataFrame and identify column with missing (null) values.
dataset.info()
total_null= dataset.isnull().sum()
print(f"total null is \n {total_null}")

#3. For the column with missing values fill the values using various techniques we discussed above. Tryto explain why did you select the particular methods for particular column.
dataset.ffill(inplace=True)

#4 4. Check for any duplicate values present in Dataset and do necessary to manage the duplicate items.{Hint: dataset.duplicated.sum()}
total_duplicate= dataset.duplicated().sum()
print(f"total duplicates values is {total_duplicate}")
#to remove duplicates we have to drop it
dataset.drop_duplicates(inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Student ID      180000 non-null  float64
 1   Age             180000 non-null  float64
 2   Gender          180000 non-null  object
 3   Height          180000 non-null  float64
 4   Weight          180000 non-null  float64
 5   Blood Type      180000 non-null  object
 6   BMI             180000 non-null  float64
 7   Temperature     180000 non-null  float64
 8   Heart Rate      180000 non-null  float64
 9   Blood Pressure  180000 non-null  float64
 10  Cholesterol     180000 non-null  float64
 11  Diabetes        180000 non-null  object
 12  Smoking         180000 non-null  object
dtypes: float64(9), object(4)
memory usage: 19.8+ MB
total null is
 Student ID        20000
Age               20000
Gender            20000
Height            20000
Weight            20000
Blood Type        20000
BMI               20000
Temperature       20000
Heart Rate        20000
Blood Pressure    20000
Cholesterol       20000
Diabetes          20000
Smoking           20000
dtype: int64
total duplicates values is 12112